[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
pep8 = "*"

[packages]
sphinx = "*"
flask = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.6"
